<html>
  <head>
    <title>Datu ievads</title> 
    <meta  charset="UTF-8" name="java" content="script"> 
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="login-container">
      <form class="login-form" action="http://127.0.0.1:5000/uzruna" method = "post">
        <h2>Datu ievads</h2>
        <div>
          <img src="add-button.png" alt="Bilde" width="100" height="100">
        </div>
        <div class="form-group">
          <label for="vards">Vārds:</label><br>
          <input type="text" id="vards" name="vards" value=""><br>
        </div>
        <div class="form-group">
          <label for="uzvards">Uzvārds:</label><br>
          <input type="text" id="uzvards" name="uzvards" value=""><br>
          <input type="submit" value="SŪTĪT">
        </div>
      </form>
    </div>
  </body>
</html>
