/* Fonti */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Stils labeliem */
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Stils virsrakstiem */
h1 {
    text-align: center;
    color: #333;
}

/* Stils teksta un parolei */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Stils submit pogai */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Formas stils */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Stils submit pogai formā */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Ļoti neliels pārejas laiks, lai būtu skaistāks */
}

/* Pārietot pāri pogai, tā kļūst tumšāka */
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Visas reizes pieteikšanās konteineris */
.login-container {
    position: relative;
    display: flex;
    background-image: url('kemeru_banans.jpg');
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
}

/* Admina konteiners */
.admin-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('skolasgaitenis.jpg'); /* Izmantojam mūsu bildes nosaukumu */
    background-size: cover; /* Attēls pārklāj visu fonu */
    background-repeat: no-repeat; /* Dažreiz problēmas ar atkārtošanos, tā to risina */
    background-position: center; /* Centrē attēlu */
}

/* Pieteikšanās kastīte */
.login-form {
    position: relative;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Visas reizes forma */
.form-group {
    margin-bottom: 20px;
}

/* Slēptā poga */
.hidden-button {
    position: absolute;
    top: 10px; /* Augšējā pozīcija, var mainīt */
    left: 10px; /* Kreisā puse, var mainīt, ja nepieciešams */
    width: 10px; /* Pogas izmērs */
    height: 15px; /* Pogas augstums */
    background-color: #000; /* Pogas krāsa */
    border-radius: 50%; /* Lai ir apaļš */
    cursor: pointer;
    opacity: 0; /* Sākotnēji slēpts */
    z-index: -1; /* Aiz visiem citiem elementiem */
}

/* Visas reizes konteiners */
.container {
    display: flex;
    justify-content: center; /* Horizontāli centrs */
    align-items: center; /* Vertikāli centrs */
    height: 100vh;
    margin: 0; /* Iestatīt marģīnes uz 0 */
    background-color: rgba(255, 255, 255, 0); 
}

/* Admina konteiners */
.admin-container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
    overflow: hidden; 
}

.admin-box {
    flex: 1;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    max-height: calc(75vh - 80px); 
}

.right-container {
    display: flex;
    justify-content: space-around; /* Lai konteineri būtu vienmērīgi izkaisīti */
    align-items: right;
    width: 100%;
    color: white;
}

/* Tabulas */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Stils konteineriem */
.container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    height: 100vh;
    margin: 0; 
}

.left-container,
.admin-container {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Pogu konteiners */
.button-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px; 
}

/* Atslēgu pogas */
.atslega-button {
    width: 100%;
    padding: 10px;
    background-color: green; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* atslēgu lapas elementi */

.container-atslegas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.top-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
}

.left-subcontainer,
.right-subcontainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px; 
}

.atslega-button {
    width: 50px;
    height: 50px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bottom-container {
    position: absolute;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.bottom-container button {
    margin: 0 10px; 
}

.gray-button {
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Logout pogas stils */
.logout-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logout-button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
