<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panelis</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <div class="admin-container">
            <!-- Kreisais konteineris - Lietotāju saraksts -->
            <div class="admin-box left-container">
                <h2>Lietotāju saraksts</h2>
                <table>
                    <!-- Lietotāju tabula -->
                    <thead>
                        <tr>
                            <th>Vārds</th>
                            <th>Uzvārds</th>
                            <th>Tituls</th>
                            <th>Parole</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Lietotāju saraksts no datubāzes -->
                        {% for darbinieks in darbinieki %}
                            <tr>
                                <td>{{ darbinieks[1] }}</td>
                                <td>{{ darbinieks[2] }}</td>
                                <td>{{ darbinieks[3] }}</td>
                                <td>{{ darbinieks[4] }}</td>
                                <td>
                                    <!-- Podzinas -->
                                    <button onclick="deleteUser('{{ darbinieks[0] }}')">Dzēst</button>
                                </td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Vidējais konteineris - Pievienot jaunu lietotāju -->
            <div class="admin-box add-user-box">
                <h2>Pievienot jaunu lietotāju</h2>
                <form id="myForm" action="/add_user" method="post">
                    <!-- Forma, lai pievienotu jaunu lietotāju -->
                    <input type="text" name="vards" placeholder="Vārds" required><br>
                    <input type="text" name="uzvards" placeholder="Uzvārds" required><br>
                    <input type="text" name="tituls" placeholder="Tituls" required><br>
                    <input type="password" id="parole" name="parole" placeholder="Parole" required><br>
                    <input type="password" id="parole_atskaites" name="parole_atskaites" placeholder="Atkārtota parole" required><br>
                    <button type="submit">Pievienot lietotāju</button>
                </form>
                
                <script>
                    // flash ziņas
                    function handleFlashMessages() {
                        // vai ir flash ziņas
                        let messages = document.getElementsByClassName('flash-message');
                        for (let i = 0; i < messages.length; i++) {
                            let message = messages[i];
                            alert(message.innerText);
                        }
                    }

                    // izsauc funkciju, kad lapa ir atjaunota
                    window.onload = function() {
                        handleFlashMessages();
                    };

                    document.getElementById('myForm').addEventListener('submit', function(event) {
                        var parole = document.getElementById('parole').value;
                        var parole_atskaites = document.getElementById('parole_atskaites').value;
                    
                        if (parole != parole_atskaites) {
                            alert('Paroles nav vienādas!');
                            event.preventDefault();
                        }
                    });


                function deleteUser(userId) {
                    // Apstiprināt dzēšanu
                    if (confirm('Vai jūs vēlaties dzēst šo lietotāju?')) {
                        fetch(`/delete_user/${userId}`, {
                            method: 'DELETE'
                        })
                        .then(response => {
                            if (response.ok) {
                                // noņemt datu rindu
                                document.getElementById(`user_row_${userId}`).remove();
                            } else {
                                alert('Kļūda dzēšot lietotāju');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    }
                }


                </script>
                
            </div>

            <!-- Labais konteineris - Izņemšanas saraksts -->
            <div class="admin-box">
                <h2>Izsniegumu saraksts</h2>
                    <table>
                        <!-- Lietotāju tabula -->
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>darbinieks</th>
                                <th>atslega</th>
                                <th>laiks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Lietotāju saraksts no datubāzes -->
                            {% for atslegainfo in atslegainfo %}
                                <tr>
                                    <td>{{ izsniegums[1] }}</td>
                                    <td>{{ izsniegums[2] }}</td>
                                    <td>{{ izsniegums[3] }}</td>
                                    <td>{{ izsniegums[4] }}</td>
                                    <td>
                                        <!-- Podzinas -->
                                        <button onclick="deleteAtslega('{{ izsniegums[0] }}')">Dzēst</button>
                                    </td>
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Attēlot sarakstu -->
            </div>
        </div>
    </div>
</body>
</html>
