<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administratora Pierakstīšanās</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="admin-container">
        <form class="login-form" action="admin.html" method="POST">
            <h2>Pierakstīšanās</h2>
            <div class="form-group">
                <label for="username">Vārds</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="username">Uzvārds</label>
                <input type="text" id="uzvards" name="uzvards" required>
            </div>
            <div class="form-group">
                <label for="title">Tituls</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="password">Parole</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Ieiet</button>
        </form>
    </div>
    </script>
</body>
</html>