<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atslēgas</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="left-container">
            <h1>Vecais korpuss</h1>
            <div class="button-container">
                <button class="atslega-button">Atslēga 1</button>
                <button class="atslega-button">Atslēga 2</button>
                <button class="atslega-button">Atslēga 3</button>
                <button class="atslega-button">Atslēga 4</button>
                <button class="atslega-button">Atslēga 5</button>
                <button class="atslega-button">Atslēga 6</button>
                <button class="atslega-button">Atslēga 7</button>
                <button class="atslega-button">Atslēga 8</button>
                <button class="atslega-button">Atslēga 9</button>
                <button class="atslega-button">Atslēga 10</button>
            </div>
        </div>
        <div class="admin-container" class="container">
            <h1>Jaunais korpuss</h1>
            <div class="button-container">
              <button class="atslega-button">Atslēga 1</button>
              <button class="atslega-button">Atslēga 2</button>
              <button class="atslega-button">Atslēga 3</button>
              <button class="atslega-button">Atslēga 4</button>
              <button class="atslega-button">Atslēga 5</button>
              <button class="atslega-button">Atslēga 6</button>
              <button class="atslega-button">Atslēga 7</button>
              <button class="atslega-button">Atslēga 8</button>
              <button class="atslega-button">Atslēga 9</button>
              <button class="atslega-button">Atslēga 10</button>
            </div>
        </div>
    </div>
</body>
</html>
