<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atslēgas</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container-astlegas">
        <h1>Labdien, {{ username }}!</h1>
        <div class="top-container">
            <div class="left-subcontainer">
                <h2>Vecais korpuss</h2>
                <div class="button-container">
                    {% for key in vecais_korpuss %}
                        <button class="atslega-button">{{ key }}</button>
                    {% endfor %}
                </div>
            </div>
            <div class="right-subcontainer">
                <h2>Jaunais korpuss</h2>
                <div class="button-container">
                    {% for key in jaunais_korpuss %}
                        <button class="atslega-button">{{ key }}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <button class="gray-button">Izņemt atslēgu</button>
            <button class="gray-button">Atgriezt atslēgu</button>
        </div>
    </div>
</body>
</html>
