<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container-astlegas">
        <div class="top-container">
            <div class="left-subcontainer">
                <h2>1. kaste</h2>
                <div class="button-container">
                    <button class="atslega-button">1</button>
                    <button class="atslega-button">2</button>
                    <button class="atslega-button">3</button>
                    <button class="atslega-button">4</button>
                    <button class="atslega-button">5</button>
                    <button class="atslega-button">6</button>
                    <button class="atslega-button">7</button>
                    <button class="atslega-button">8</button>
                    <button class="atslega-button">9</button>
                    <button class="atslega-button">10</button>
                </div>
            </div>
            <div class="right-subcontainer">
                <h2>2. kaste</h2>
                <div class="button-container">
                    <button class="atslega-button">1</button>
                    <button class="atslega-button">2</button>
                    <button class="atslega-button">3</button>
                    <button class="atslega-button">4</button>
                    <button class="atslega-button">5</button>
                    <button class="atslega-button">6</button>
                    <button class="atslega-button">7</button>
                    <button class="atslega-button">8</button>
                    <button class="atslega-button">9</button>
                    <button class="atslega-button">10</button>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <button class="gray-button">Izņemt atslēgu</button>
            <button class="gray-button">Atgriezt atslēgu</button>
        </div>
    </div>
</body>
</html>
