<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Lietotāja Pieslēgšanās</h1>
    <form id="loginForm">
        <label for="lietotajvards">Lietotājvārds:</label><br>
        <input type="text" id="lietotajvards" name="lietotajvards"><br><br>
        <label for="parole">Parole:</label><br>
        <input type="password" id="parole" name="parole"><br><br>
        <button type="submit">Pieslēgties</button>
    </form>

    <script src="login.js"></script>
</body>
</html>
