<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pierakstīšanās</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="login-container">
        <form class="login-form" action="atslegas" method="POST">
            <h2>Ielogošanās</h2>
            <div class="form-group">
                <label for="username">Lietotājvārds</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Parole</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Ieiet</button>
        </form>
        <button type="button" class="hidden-button" id="hiddenButton" onclick="redirectToAdmin()"></button>
    </div>
    <script>
        function redirectToAdmin() {
            window.location.href = 'admin';
        }

        var loginForm = document.querySelector('.login-form');
        var hiddenButton = document.getElementById('hiddenButton');
        loginForm.addEventListener('mouseover', function(event) {
            if (event.target === loginForm) {
                hiddenButton.style.opacity = 1;
                hiddenButton.style.zIndex = 1;
            }
        });
    </script>
</body>
</html>
