<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pievienot</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="admin-container">
            <form action="/submit" method="post">
                <h1>Jauns lietotājs</h1>
                <label for="vards">Vārds:</label>
                <input type="text" id="vards" name="vards">
                <label for="uzvards">Uzvārds:</label>
                <input type="text" id="uzvards" name="uzvards">
                <label for="tituls">Tituls:</label>
                <input type="text" id="tituls" name="tituls">
                <label for="parole">Parole:</label>
                <input type="password" id="parole" name="parole">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>
